@{
    ViewData["Title"] = "Sabesp - GSPro";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>GSPro - Foi criado devido a partir de uma ideia de armazenar soluções, referentes a Erros na área de produção Neta.</p>
</div>
